/* XL Device :1200px. */
@media (min-width: 1200px) and (max-width: 1449px) {
    .login-screen {
        padding-top: 50px;
    }
    .logo {
        margin-bottom: 70px;
        text-align: center;
    }
    .back-btn {
        left: 8%;
        top: 50px;
    }

}




@media (min-width: 1200px) and (max-width: 1300px) {
    .login-screen {
        padding-top: 35px;
    }
    .logo {
        margin-bottom: 50px;
        text-align: center;
    }
    .logo img {
        width: 135px;
    }
    .form-item {
        margin-bottom: 15px;
    }
    .form-item label {
        font-size: 13px;
    }
    .form-title {
        margin-bottom: 30px;
    }
    .trams-check {
        padding-top: 5px;
        margin-bottom: 25px;
    }
    .copyright-wrap p {
        font-size: 13px;
    }
    .register-content h2 {
        font-size: 20px;
        line-height: 26px;
    }
    .register-content p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .proxy-card p {
        margin-bottom: 0 !important;
        font-size: 14px !important;
    }
    .proxy-card {
        padding: 16px;
        margin-bottom: 10px;
    }
     .back-btn {
        left: 6%;
        top: 40px;
    }



}







/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .login-screen {
        padding-top: 35px;
    }
    .logo {
        margin-bottom: 50px;
        text-align: center;
    }
    .logo img {
        width: 135px;
    }
    .form-item {
        margin-bottom: 15px;
    }
    .form-item label {
        font-size: 13px;
    }
    .form-title {
        margin-bottom: 30px;
    }
    .trams-check {
        padding-top: 5px;
        margin-bottom: 25px;
    }
    .copyright-wrap p {
        font-size: 13px;
    }
    .register-content h2 {
        font-size: 20px;
        line-height: 26px;
    }
    .register-content p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .proxy-card p {
        margin-bottom: 0 !important;
        font-size: 14px !important;
    }
    .proxy-card {
        padding: 16px;
        margin-bottom: 10px;
    }
    .register-wrapper {
        gap: 0 40px;
    }
    .register-content {
        width: 420px;
    }
    .form-wrapper {
        width: 440px;
    }
    .form-wrap {
        padding: 30px;
    }
    .container-rd p {
        font-size: 13px;
    }
      .back-btn {
        left: 6%;
        top: 40px;
    }
    .back-btn a {
        font-size: 13px;
    }
}
 





/* LG Device :992px. */
@media (min-width: 768px) and (max-width: 991px) {
    .login-screen {
        padding-top: 35px;
    }
    .logo {
        margin-bottom: 50px;
        text-align: center;
    }
    .logo img {
        width: 130px;
    }
    .form-item {
        margin-bottom: 15px;
    }
    .form-item label {
        font-size: 13px;
    }
    .form-title {
        margin-bottom: 30px;
    }
    .trams-check {
        padding-top: 5px;
        margin-bottom: 25px;
    }
    .copyright-wrap p {
        font-size: 13px;
    }
    .register-content h2 {
        font-size: 20px;
        line-height: 26px;
    }
    .register-content p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
    }
    .proxy-card p {
        margin-bottom: 0 !important;
        font-size: 12px !important;
        line-height: 16px;
    }
    .proxy-card {
        padding: 16px;
        margin-bottom: 10px;
    }
    .register-wrapper {
        gap: 0 24px;
    }
    .register-content {
        width: 340px;
    }
    .form-wrapper {
        width: 360px;
    }
    .form-wrap {
        padding:24px 20px;
    }
   .container-rd p {
        font-size: 11.2px;
    }
    .form-title h4 {
        font-size: 20px;
    }
    .form-submit button {
        height: 40px;
        border: 2px solid #6633EE;
        font-size: 15px;
    }
    .back-btn {
        left: 4%;
        top: 30px;
    }
    .back-btn a {
        font-size: 13px;
    }



}
 





/* SM Small Device :320px. */
@media only screen and (max-width: 767px) {
    .create-account-page{
        height: auto;
        padding-top: 24px;
    }
    .logo img{
        width: 120px;
    }
    .logo{
        margin-bottom: 40px;
    }
    .login-screen {
        padding: 15px;
        padding-top: 30px;
    }
    .register-wrapper {
        display: block;
    }
    .register-content {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .form-wrapper {
        width: 100%;
        max-width: 480px;
        margin: 0 auto;
    }
    .copyright-wrap{
        margin-top: 60px;
    }
    .copyright-wrap p {
        font-size: 12px;
        text-align: center;
    }
    .register-content {
        text-align: center;
    }
    .proxy-card h3 {
        font-size: 15px;
        justify-content: center;
    }
    .register-content h2 {
        font-size: 18px;
        line-height: 26px;
    }

    .wrap-title{
        max-width: 340px;
        margin: 0 auto;
    }
    .register-content p {
        font-size: 14px;
    }
    .form-wrap {
        padding: 24px 16px;
        border-radius: 8px;
    }
    .form-title h4 {
        font-size: 18px;
    }
    .form-submit button {
        height: 40px;
        font-size: 14px;
    }
    .container-rd p {
        font-size: 12px;
        line-height: 16px;
    }
    .success-box h4 {
        font-size: 20px;
    }
    .success-box p br {
        display: none;
    }
    .trams-check {
        padding-top: 0px;
        margin-bottom: 20px;
    }
    .recovery-option p {
        font-size: 13px;
    }
    .form-title {
        margin-bottom: 30px;
    }
    .form-title img {
        max-width: 28px;
    }
    .have-account {
        margin-top: 20px;
        padding: 15px;
    }
    .have-account p {
        font-size: 13px;
    }
    .form-title p {
        font-size: 13px;
    }
    .form-item label {
        font-size: 13px;
    }
    .create-account-page .register-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .register-content {
        text-align: center;
        margin-top: 40px;
    }
        .back-btn {
        left: 15px;
        top: 28px;
    }
    .back-btn a {
        font-size: 13px;
        width: 33px;
        height: 33px;
        justify-content: center;
        align-items: center;
    }
    .back-btn span {
        display: none;
    }

}










/* SM Small Device :550px. */
@media only screen and (min-width: 576px) and (max-width: 767px) {

  
    
    
 
}