@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Base CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:focus {
  outline: 0 solid;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-family: "Inter", sans-serif;
  color: #fff;
}

body {
  color: #8C869A;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

a:hover {
  text-decoration: none;
}

a,
button,
input,
textarea {
  outline: none !important;
}



.login-screen {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 20px;
  padding-top: 70px;
  background-color: #010101;
  background-position: center;
  background-size: cover;
  background-image: url(../img/bg-img.png);
}
.login-screen::after{
    background-position: center;
    background-size: cover;
    background-image: url(../img/bg-shp.png);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: .2;
}
.login-screen::before{
    background-position: center;
    background-size: cover;
    background-image: url(../img/Noise.png);
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.logo{
    margin-bottom: 100px;
    text-align: center;
}
.logo img {
    width: 145px;
}
.copyright-wrap p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1.6%;
    color: #8C869A;
}
.register-content {
    width: 467px;
}
.form-wrapper {
    width: 490px;
}
.register-wrapper {
    display: flex;
    gap:0 90px;
    justify-content: center;
}
.register-content h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}
.register-content p {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 15px;
    font-weight: 500;
}
.proxy-card {
    background: rgba(255, 255, 255, 0.05);;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);;

}

.proxy-card-wrap p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #8C869A;
}
.proxy-card-wrap{
    margin-top: 20px;
}
.proxy-card p {
    font-size: 14px;
    margin: 0;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 0;
    color: #8C869A;
}
.proxy-card h3 {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 0 6px;
    color: #fff;
    font-weight: 500;
    line-height: 21px;
    margin-bottom: 10px;
}
.form-wrap {
    border: 1px solid #6633EE;
    background-color: rgba(102, 51, 238, 0.1);
    padding: 36px;
    border-radius: 12px;
    width: 100%;
    backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
}

.form-title {
    margin-bottom: 36px;
    text-align: center;
}

.form-title h4 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 100%;
}

.form-title p {
    font-size: 14px;
    color: #8C869A;
}
.form-item {
    margin-bottom: 20px;
}

.field-box {
    position: relative;
    width: 100%;
    display: flex;
    height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.field-box input {
    width: 100%;
    padding: 6px 14px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.field-box input::placeholder{
    color: #5D5376;
    font-size: 14px;
    font-weight: 500;
}

.field-box span {
    width: 38px;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-item label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    color: #AFAFAF;
}
.trams-check {
    padding-top: 10px;
    margin-bottom: 30px;
}
.form-submit button {
    border: none;
    background: url(../img/bg-btn.png);
    background-position: center;
    background-size: cover;
    border-radius: 90px;
    height: 44px;
    text-align: center;
    color: #fff;
    width: 100%;
    border: 2px solid #6633EE;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}
.form-submit button:hover {
    background:transparent
}
.have-account {
    margin-top: 25px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
}
.have-account p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 500;
}
.have-account p a{
    display: inline;
    color: #A179FF;
    text-decoration: none;
}
.recovery-option {
    margin-top: 20px;
    text-align:  center;
}

.recovery-option p {
    color: #fff;
    font-size: 14px;
}
.recovery-option p a{
    display: inline-block;
    text-decoration: none;
    color: #A179FF;
}
.form-title img {
    margin-bottom: 14px;
} 
.form-title img {
    max-width: 40px;
}
.token-copy{
    cursor: pointer;
}
.success-box {
    padding: 36px;
    border: 1px solid #00BF65;
    border-radius: 12px;
    text-align: center;
    max-width: 490px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(0, 191, 101, 0.1);
}
.success-box img {
    max-width: 40px;
    margin-bottom: 15px;
}
.success-box h4 {
    font-size: 22px;
    font-weight: 500;
}
.success-box p {
    font-size: 14px;
    font-weight: 500;
}
.success-box h4 {
    font-size: 20px;
    font-weight: 500;
}

/* Customize the label (the container) */
/* The container */
.codeplay-rd .container-rd {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default radio button */
.codeplay-rd .container-rd input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* Create a custom radio button */
.codeplay-rd .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.15);
}
  

  
/* When the radio button is checked, add a blue background */
.codeplay-rd .container-rd input:checked ~ .checkmark {
    background-color: transparent;
    border-color: #A179FF;
}
  
/* Create the indicator (the dot/circle - hidden when not checked) */
.codeplay-rd .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.codeplay-rd .container-rd input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the indicator (dot/circle) */
.codeplay-rd .container-rd .checkmark::after {
	top: 50%;
	left: 50%;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #A179FF;
	transform: translate(-50%, -50%);
    border-color: #A179FF !important;
}
.container-rd p {
	margin: 0;
	font-size: 14px;
	font-weight: 500;
	position: relative;
	top: 0;
    font-weight: 500;
}
.container-rd p a{
	color: #A179FF;
    display: inline-block;
    text-decoration: none;
    transition: .3s;
}
.container-rd p a:hover{
    text-decoration: underline;
}
.field-box img {
    width: 18px;
}
.field-box{
    position: relative;
}
.view-password{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    padding: 0;
    line-height: 1;
    margin-top: 1px;
}

  /* Create the indicator (the dot/circle - hidden when not checked) */


/*-------- Custom  radio button Style End --------*/